<%- include ('./partials/header') %>

<h1>Hey there, welcome to my blog site.</h1>

<% blogs.forEach((blog)=>{ %>
<div>
  <h3><%= blog.title %></h3>
  <img src="<%= blog.image %>" alt="<%= blog.title %>">
  <p><%= blog.created.toDateString() %></p>
  <p><%= blog.body.substring(0,100) %>...</p>
  <span><a href="/blogs/<%- blog._id %>">Read more</a></span>
</div>
<% }) %>

<%- include ('./partials/footer') %>